.accordion {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title span {
  font-size: 2rem;
}

.accordion-title h2 {
  font-size: 2rem;
  line-height: 1.6;
}

.content {
  /* display: none; */

  max-height: 0;
  overflow: hidden;

  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  /* display: inline-block; */
  height: auto;
  max-height: 99rem;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.content p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-top: 2.4rem;
  color: var(--main-color-shade);
}

@media (max-width: 30em) {
  .accordion h2 {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
