.btn-light,
.btn-light:link,
.btn-light:visited {
  display: inline-block;
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  font-family: inherit;

  cursor: pointer;
  border: none;
}

.btn-light:hover,
.btn-light:active {
  background-color: var(--secondary-color-shade);
}

.btn-dark,
.btn-dark:link,
.btn-dark:visited {
  display: inline-block;
  background-color: var(--tertiary-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  color: var(--main-color);

  cursor: pointer;
  border: none;
}

.btn-dark:hover,
.btn-dark:active {
  background-color: var(--secondary-color-shade);
}
