.about-us-section {
  padding: 9.6rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/jakob-rosen-JUkrwViCvyE-unsplash.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.about-us-subtitle {
  margin-top: 2.4rem;
  margin-bottom: 0;
  font-weight: 500;
  color: var(--main-color);
}

.story-section {
  padding: 9.6rem 0;
}

.story-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
}

.gallery-section {
  padding: 9.6rem 0;
}
