.service-container {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
}

.service-text-box {
  padding: 1rem 2rem;
}

.service-img {
  height: auto;
  width: 100%;
}

.service-title {
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 49em) {
  .service-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 44em) {
  .service-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 37em) {
  .service-title {
    font-size: 1.8rem;
  }
}
