:root {
  --main-color: #e6e6e6;
  --main-color-dark: #a1a1a1;
  --main-color-darker: #737373;
  --main-color-shade: #454545;
  --secondary-color: #c5f8e2;
  --secondary-color-darker: #9bd8be;
  --secondary-color-shade: #59be92;
  --tertiary-color: #0d1f2d;
  --main-color-tint: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--main-color);
  color: var(--tertiary-color);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* GENERAL COMPONENTS STYLING */
/* .btn-light,
.btn-light:link,
.btn-light:visited {
  display: inline-block;
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  font-family: inherit;

  cursor: pointer;
  border: none;
}

.btn-light:hover,
.btn-light:active {
  background-color: var(--secondary-color-shade);
} */

/* .btn-dark,
.btn-dark:link,
.btn-dark:visited {
  display: inline-block;
  background-color: var(--tertiary-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  color: var(--main-color);

  cursor: pointer;
  border: none;
}

.btn-dark:hover,
.btn-dark:active {
  background-color: var(--secondary-color-shade);
} */

.link:link,
.link:visited {
  display: inline-block;
  color: var(--tertiary-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--main-color-shade);
  border-bottom: 1px solid transparent;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: center;
  letter-spacing: -1px;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--main-color-shade);
}
